.sidebar {
  width: 11em;
  height: 35em;
  background-color: #1c1c1e;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
}

.user-info {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.user-info p {
  font-size: small;
  margin: 5px 15px 0 15px;
}

.user-info img {
  width: 50px;
  height: 50px;
  border-radius: 10%;
  border: 1px solid whitesmoke;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

nav ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 15px 0px;
}

nav ul li span {
  margin-left: 10px;
}

nav ul li.active {
  background-color: #333;
  border-radius: 5px;
  padding: 10px 5px;
}


.logout-button {
  margin: auto 0 15px 0;
  padding: 10px;
  background-color: #e94e77;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.logout-button .svg-inline--fa {
  margin-right: 10px;
}

/* Responsive Design */
@media (max-width: 600px) {
  .sidebar {
    width: 100%;
    height: auto;
  }
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  nav ul li {
    padding: 5px;
  }
  .Icons{
    width: 15px;
  }
  span{
  }
  .logout-button {
    width: 100%;
    justify-content: center;
  }
}
