.synergy-table {
     overflow-x:auto;
    background-color: #1c1c1e;
    color: white;
  }
  
  .synergy-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .synergy-table th, .synergy-table td {
    padding: 10px;
    border: 1px solid #333;
  }
  